.DS_Store
*.pdf
*.jld
.ipynb_checkpoints/
*/.ipynb_checkpoints/

nsp.sublime-*
figures/
*/figures/
results/
*/results
gr-temp/
data/
*/data/
*/data
data
*/.old_git/
.old_git/

experiments/embassy/raw
